  {% for tag in blog.all_tags %}
    {% if current_tags contains tag %}
      {% assign selected_tag = tag | prepend: "&nbsp;by: " %}
      {% if selected_tag == "recipe" %}
        {% assign selected_tag = "by: all recipes" %}
      {% endif %}
    {% endif %}
  {% endfor %}
<ul class="tag-nav ">
  <div class="title">filter<span class="selected-tag">  {{selected_tag}} </span> </div>
  <div class="tag-nav__items">
    {% for tag in blog.all_tags %}
      {% if tag == 'recipe' and blog.handle == 'recipes' %}
        <li class="last"><a class="{% if current_tags contains tag %} active {% endif %}" href="/blogs/{{blog.handle}}/tagged/{{tag | handleize }}">all recipes</a></li>

      {% else %}
        <li><a class="{% if current_tags contains tag %} active {% endif %}" href="/blogs/{{blog.handle}}/tagged/{{tag | handleize }}">{{ tag }}</a></li>
      {% endif %}
    {% endfor %}
  </div>
</ul>
