<!-- drawer-nav -->
<div id="NavDrawer" class="drawer fixed-overlay">
  <div class="fixed-overlay--content">
    <div class="drawer__header medium-down--hide">
      <div class="drawer__close">
        <button type="button" class="icon-fallback-text js-drawer-close">
          <svg><use xlink:href="#icon-close"></use></svg>
          <span class="fallback-text">{{ 'layout.drawers.close_menu' | t }}</span>
        </button>
      </div>
    </div>

    <!-- begin mobile-nav -->
    <ul class="mobile-nav" role="navigation" aria-label="mobile-nav">
      {% assign mainMenu = section.settings.nav_linklist %}
      {% if linklists[mainMenu].links.size != 0 %}

        {% for link in linklists[mainMenu].links %}
          {% include "drawer-nav-menu" %}
        {% endfor %}
      {% endif %}

      {% if linklists[section.settings.nav_linklist_2].links.size != 0 %}
        {% for link in linklists[section.settings.nav_linklist_2].links %}
          {% include "drawer-nav-menu" %}
          {% if forloop.last and linklists[section.settings.nav_linklist_3].links.size != 0  %}<hr class='medium-down--show large--hide'>{% endif %}
        {% endfor %}
      {% endif %}

      {% if shop.customer_accounts_enabled %}
        {% if customer %}
          <li class="mobile-nav__item">
            {% if customer.first_name != blank %}
              {% capture first_name %}{{ customer.first_name }}{% endcapture %}
              <a href="/account">{{ 'layout.customer.logged_in_as_html' | t: first_name: first_name }}</a>
            {% else %}
              <a href="/account">{{ 'layout.customer.account' | t }}</a>
            {% endif %}
          </li>
        {% else %}
          <li class="mobile-nav__item">
            {{ 'layout.customer.log_in' | t | customer_login_link }}
          </li>
        {% endif %}
      {% endif %}
    </ul>
  </div>
  <!-- //mobile-nav -->
</div>
