{%- if template == 'product' -%}
  {% if section.settings.divider %}
  <div class="product-divider">
    {% if spice == 'cardamom' %}
    <img src="{{ 'Cardamom.png' | asset_img_url: '200x200' }}">
    {% elsif spice == 'turmeric' %}
    <img src="{{ 'Turmeric.png' | asset_img_url: '200x200' }}">
    {% elsif spice == 'chillies' %}
    <img src="{{ 'Chilli.png' | asset_img_url: '200x200' }}">
    {% elsif spice == 'pepper' %}
    <img src="{{ 'Pepper.png' | asset_img_url: '200x200' }}">
    {% else %}
    {% endif %}
  </div>
  {% endif %}

  {% if section.settings.product_recipies %}
    {% include "product-recipes" %}
  {% endif %}

{%- endif -%}

{%- if template contains 'article' -%}
  {% if section.settings.product_recipies %}
    <section class="product-recipes blog-related-recipes">
      <h2 class="text-center">Related Recipes</h2>

      <div class="grid--products grid--full image-gutters--4 slick-slider">
        {% for related in blogs.recipes.articles limit: 8 %}
        {% unless related.handle == article.handle %}
          <div class="grid__item large--one-quarter medium--one-quarter small--one-whole animation-sequence-{{ forloop.index0 }}                ">
            {% if related.image %}
              {% include "filter-rias-img-url-with-height" input: related.image %}
              {% assign image_url = output %}

              <a href="{{ related.url }}" tabindex="0">
                <div class="featured-blog__image-wrapper">
                  <div class="box-ratio--1-1 image-placeholder-cover">
                    <img
                         data-src="{{ image_url }}"
                         data-ratio="{{ related.image.aspect_ratio }}"
                         data-sizes="auto"
                         data-parent-fit="cover"
                         class="lazyload lazyload-fade"
                         alt="{{ related.image.alt | escape }}">

                    <noscript>
                      <img src="{{ related.image | img_url: '800x' }}" />
                    </noscript>
                  </div>
                </div>
              </a>
              {% endif %}

              <div class="featured-blog__caption small--text-center text-wrapper">
                <a href="{{ related.url }}">
                  <h4 class='featured-blog__title'>{{ related.title }}</h4>
                </a>
                <span class="blog-info">
                  <!-- <a class="btn" href="{{ article.url }}">{{ 'blogs.article.read_more' | t }}</a> -->
                </span>
              </div>
            </div>
        {% endunless %}
        {% endfor %}
        </div>
    </section>
  {% endif %}
{%- endif -%}



{% if section.settings.product_related %}
  {% include "product-related" %}
{% endif %}











{% comment %}
<!-- Schema -->
{
  "type": "checkbox",
  "id": "divider",
  "label": "Add divider below product section"
},
{
  "type": "checkbox",
  "id": "product_related",
  "label": "Show related products"
},
{
  "type": "checkbox",
  "id": "product_recipies",
  "label": "Show related recipies"
}

{% endcomment %}

<script>

$(document).ready(function(){
    $('.slick-slider').slick({
      slidesToShow: 2,
      infinite: true,
      slidesToScroll: 1,
      arrows: true,
      mobileFirst:true,
      responsive: [{
        breakpoint: 1024,
        settings: {
          slidesToShow: 4
        }
      }]
    });
});
</script>
