<div class="grid__item grid__text {{ textCellWidth }} layout-{{ block.settings.layout }} small--text-center {% if block.settings.border_override %}has-border{% endif %}">
  <div class="cell-wrapper table--full-height" style="background-color:{{ section.settings.background_color }};">
    <div class="center-cell small--text-center">
      <div class="text-wrapper align-{{ block.settings.text_alignment }}">
        <h3 style="color:{{ section.settings.header_color }};">{{ block.settings.text_header | escape }}</h3>
        <svg xmlns="http://www.w3.org/2000/svg" width="214.928" height="6.851" viewBox="0 0 214.928 6.851">
          <path id="Yellow_wavy" data-name="Yellow wavy" d="M212.508,2.834c-3.313,3.234-9.941,3.234-13.256,0s-9.941-3.234-13.258,0-9.941,3.234-13.254,0-9.943-3.234-13.258,0-9.941,3.234-13.256,0-9.941-3.234-13.258,0-9.94,3.234-13.254,0-9.943-3.234-13.256,0-9.943,3.234-13.258,0S83.26-.4,79.947,2.834,70,6.068,66.689,2.834s-9.941-3.234-13.256,0-9.943,3.234-13.256,0-9.943-3.234-13.256,0-9.943,3.234-13.258,0S3.721-.4.408,2.834" transform="translate(1.006 0.591)" fill="none" stroke="#ffde17" stroke-linecap="round" stroke-miterlimit="1" stroke-width="2"/>
        </svg>


        <div>
          {{ block.settings.text_body }}
        </div>

        {% comment %}
        Unless these are empty or the default values, show the CTA.
        {% endcomment %}
        {% unless block.settings.button_cta == blank
               or block.settings.button_link == blank
               or block.settings.button_cta == "text"
               or block.settings.button_link == "http://example.com" %}
          <a href="{{ block.settings.button_link }}" tabindex="0">
            <button class="">
              <svg xmlns="http://www.w3.org/2000/svg" width="206.264" height="54.708" viewBox="0 0 206.264 54.708">
                <g id="learn_more_button" transform="translate(-65.368 -787.414)">
                  <path d="M51.886,53.866c-7.608.074-15.193-.205-22.8-.155-6.363.042-13.789.166-19.208-1.383C2.794,50.3,1.682,46,1.367,42.852c-.416-4.172.441-8.348.456-12.521C1.839,25.852.3,21.41.056,16.935-.246,11.5.068,1.914,17.145.3c7.08-.671,14.649.225,21.747.426,21.5.61,42.54-.6,63.972-.721,13.843-.075,27.371,1.383,41.185,1.49,8.687.068,17.174-.785,25.778-1.1,3.985-.147,7.964-.122,11.958-.055,7.018.115,15.421.011,18.259,3.1a6.552,6.552,0,0,1,1.274,2.186,78.76,78.76,0,0,1,3.256,9.085,30.153,30.153,0,0,1,.63,5.066,35.739,35.739,0,0,1,.081,4.847,13.337,13.337,0,0,0,.739,4.544,7.991,7.991,0,0,1,.019,3.8c-.487,2.6-1.566,5.167-1.986,7.763a9.274,9.274,0,0,0,.522,5.641,4.471,4.471,0,0,1,.2,3c-.251,1.081-1.249,2.2-3.3,2.981-5.255,1.993-14.131,1.99-20.973,2.008-2.722.006-5.433-.08-8.147-.143-5.831-.137-11.695-.077-17.526.062-11.252.268-22.3.563-33.593.385s-22.574-.578-33.871-.8c-9.694-.19-19.4-.23-29.1-.309" transform="translate(65.368 787.415)" fill="#ffde17"/>
                  <text id="Learn_More" data-name="Learn More" style="font-weight: bold;" transform="translate(169 823)" fill="#f41f86" font-size="18" ><tspan x="-49.383" y="0">{{ block.settings.button_cta | escape }}</tspan></text>
                </g>
              </svg>

            </button>
          </a>
        {% endunless %}
      </div>
    </div>
  </div>
</div>
