<!doctype html>

{% include 'theme-info' %}

<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
  {{ 'raf.js' | asset_url | script_tag }}
  <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->

<head>
  <script>
    {% comment %}Wholesale Hero JS{% endcomment %}
    window.wh_metafields = {};
    window.wh_discount_value = 1;
    window.settings = {{settings | json}};
    window.wh_customer_tags = false;
    {% if customer.tags.size > 0 %}
      window.wh_customer_tags = true;
      {% assign wh_logged_in = true %}

    {% else %}
      {% assign wh_logged_out = true %}

    {% endif %}
  </script>
  <style type="text/css">
    {% comment %}Wholesale Hero CSS{% endcomment %}
    .wh-hidden{display: none;}.wh-cart-total {font-weight: bold;display: inline-block;  margin-top: 5px;font-size: 22px;color: #e91e63;background-color: #ffb74d;} .additional-notes{text-align:right;background-color: #ffb74d;color: #e91e63;font-size: 14px;} .booster-messages{display:block;}
    #booster-discount-item{font-size:70%;padding-top: 5px;padding-bottom: 5px;} #booster-summary-item{font-size:70%;padding-top: 5px;padding-bottom: 5px;} input#booster-discount-code{max-width:200px;display:inline-block;} button#apply-booster-discount{display:inline-block;max-width:200px;}
    {% if customer.tags.size > 0 %}
      div.shopify-payment-button{display:none;}
    {% endif %}
  </style><!-- Wholesale Hero Custom CSS end -->

  <!-- Basic page needs ================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  {% if settings.favicon_image != blank %}
    <link rel="shortcut icon" href="{{ settings.favicon_image | img_url: '32x' }}" type="image/png" />
  {% endif %}

  <!-- Title and description ================================================== -->
  <title>
  {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>

  {% if page_description %}
  <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  <!-- Helpers ================================================== -->
  {% include 'social-meta-tags' %}
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
  <meta name="theme-color" content="{{ settings.color_primary }}">

  <!-- CSS ================================================== -->
  {{ 'slick.css' | asset_url | stylesheet_tag }}
  {{ 'slick.scss' | asset_url | stylesheet_tag }}
  {{ 'slick-theme.scss' | asset_url | stylesheet_tag }}
  {{ 'style.scss.css' | asset_url | stylesheet_tag }}
  {{ '//fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700,700i' | stylesheet_tag }}


  <!-- Header hook for plugins ================================================== -->
  {{ content_for_header }}

  {{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' | script_tag }}
  {{ 'modernizr.min.js' | asset_url | script_tag }}

  {% comment %} Component Scripts {% endcomment %}

  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js"></script>



  {{ 'libraries.min.js' | asset_url | script_tag }}


  {% comment %}
    If you store has customer accounts disabled, you can remove the following JS file
  {% endcomment %}
  {% if template contains 'customers' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {% endif %}

  {% if template.directory == 'customers' %}
    <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script><!--<![endif]-->
    <!--[if lte IE 9]><script src="{{ 'shopify_common.js' | shopify_asset_url }}"></script><![endif]-->
  {% endif %}

  <!--[if (gt IE 9)|!(IE)]><!--><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'vendor.js' | asset_url }}"></script><![endif]-->

  <!-- [if (gt IE 9)|!(IE)]><!--><!--<![endif] -->
  <!--[if lte IE 9]><script src="{{ 'theme.js' | asset_url }}"></script><![endif]-->

  {% if template == 'index' %}
  {{ 'slick.css' | asset_url | stylesheet_tag }}
  {{ 'slick-theme.css' | asset_url | stylesheet_tag }}
  {% endif %}

<script src="https://www.dwin1.com/19038.js" type="text/javascript" defer="defer"></script>
</head>

{% comment %}
  Add the page template as a class for easy page or template specific styling.
{% endcomment %}
<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >
  {% include 'icons.svg' %}
  <div class="fadeout-overlay"></div>

  {% section 'header' %}
  {% section 'popup' %}

  <div id="PageContainer" class="is-moved-by-drawer">
    <main class="main-content {% if settings.enable_max_width_container %}max-width-container{% endif %}" role="main">
      {{ content_for_layout }}
    </main>

    {% section 'footer' %}
  </div>

  {% include 'currencies' %}

  {{ 'option_selection.js' | shopify_asset_url | script_tag }}
  {{ 'ira.js' | asset_url | script_tag }}

  {% comment %}
    Template-specific js
  {% endcomment %}

  {% if resetPassword %}
    <script>
      $(function() {
        ira.resetPasswordSuccess();
      });
    </script>
  {% endif %}

  {{ 'handlebars.min.js' | asset_url | script_tag }}
  {% include 'ajax-cart-template' %}
  {{ 'ajax-cart.js' | asset_url | script_tag }}

  <script>
    jQuery(function($) {
      ajaxCart.init({
        formContainerSelector: '#AddToCartForm',
        cartContainer: '#CartContainer',
        addToCartSelector: '#AddToCart',
        cartCountSelector: '#CartCount',
        cartCostSelector: '#CartCost',
        moneyFormat: {{ shop.money_format | json }}
      });
    });

    jQuery('body').on('ajaxCart.afterCartLoad', function(evt, cart) {
      // Bind to 'ajaxCart.afterCartLoad' to run any javascript after the cart has loaded in the DOM
      ira.CartDrawer.open();
    });
  </script>

  <script>
    window.lazySizesConfig = window.lazySizesConfig || {};

    lazySizesConfig.expand = 1000;
    lazySizesConfig.customMedia = {
      '--small': '(max-width: 700px)',
      '--medium': '(max-width: 840px)',
      '--xlarge': '(max-width: 1000px)',
      '--xxlarge': '(max-width: 1200px)'
    };
  </script>

  {{ "//cdnjs.cloudflare.com/ajax/libs/lazysizes/4.0.1/plugins/rias/ls.rias.min.js" | script_tag }}
  {{ "//cdnjs.cloudflare.com/ajax/libs/lazysizes/4.0.1/plugins/parent-fit/ls.parent-fit.min.js" | script_tag }}
  {{ "//cdnjs.cloudflare.com/ajax/libs/lazysizes/4.0.1/plugins/bgset/ls.bgset.min.js" | script_tag }}
  {{ "//cdnjs.cloudflare.com/ajax/libs/lazysizes/4.0.1/plugins/object-fit/ls.object-fit.min.js" | script_tag }}
  {{ "//cdnjs.cloudflare.com/ajax/libs/lazysizes/4.0.1/lazysizes.min.js" | script_tag }}

  <script>
    lazySizes.init();
  </script>
  {% if template == 'index' %}
<!--   <script src="https://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script> -->
  <!-- <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script> -->
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  {{ 'slick.min.js' | asset_url | script_tag }}
   <script type="text/javascript">
   $(document).ready(function() {
   $('.autoplay').slick({
   dots: false,
   infinite: true,
   speed: 500,
   slidesToShow: 5,
   slidesToScroll: 1,
   autoplay: true,
   autoplaySpeed: 2000,
   arrows: false,
   variableWidth: true
   });
   });
   </script>
  {% endif %}
<!-- Begin ReCharge code -->
{% include 'subscription-theme-footer' %}
<!-- End ReCharge code -->

      <!-- Wholesale Hero Custom CSS -->
      <style type="text/css">

      </style><!-- Wholesale Hero Custom CSS end -->

      <!-- Wholesale Hero Start -->
      {% unless shop.metafields.wholesale_hero.wh_ac %}
      {% if customer.tags.size > 0 and template != 'cart' %}
        <script>
          $(function(){
            $(document).on('click', "a[href$='#cart'], input[name='checkout'], button[name='checkout'], input[name='goto_pp'], button[name='goto_pp'], input[name='goto_gc'], button[name='goto_gc'], [href$='checkout']", function(e){
              e.preventDefault();
              window.location = "/cart";
            });
          });
        </script>
      {% endif %}

      {% if customer.tags.size > 0 and template == 'cart' %}
        {% include 'wh_cart' %}
      {% endif %}
      {% endunless %}
      <!-- Wholesale Hero End -->

 <script type='text/javascript'>
        <!-- WHTestJS Start-->
        (function() {
        if(window.location.search.includes('ws_test') || localStorage.getItem('ws_test')=='true'){
          console.log('whtestingjs');
          var head = document.getElementsByTagName('head')[0];
          var script = document.createElement('script');
          window.test_discount_group = true;
          script.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + "cdn.shopify.com/s/files/1/0194/1736/6592/t/1/assets/discount_group_test.js?2167596224708722148";
          script.type = 'text/javascript';
          head.appendChild(script);
        }
        })();
        <!-- WHTestJS End-->
      </script>
 </body>
</html>
