{% include 'collection-nav' %}
{% comment %}

  For more information on collection tags:
    - http://docs.shopify.com/themes/liquid-variables/collection

Four layout options: 2x3, 3x3, 4x3, 5x3

{% endcomment %}

<!-- all-collection -->

  {% for block in section.blocks %}

    {% assign layout_style = block.settings.collection_layout_style %}

    {% case layout_style %}
      {% when "twoByThree" %}
        {% assign products_per_page = 6 %}
        {% assign grid_item_width = 'large--one-half medium--one-half one-half' %}
      {% when "threeByThree" %}
        {% assign products_per_page = 9 %}
        {% assign grid_item_width = 'large--one-third medium--one-third one-half' %}
      {% when "fourByThree" %}
        {% assign products_per_page = 50 %}
        {% assign grid_item_width = 'large--one-quarter medium--one-third one-half' %}
      {% when "fiveByThree" %}
        {% assign products_per_page = 15 %}
        {% assign grid_item_width = 'large--one-fifth medium--one-fifth one-half' %}
    {% endcase %}
    {% assign collection = collections[block.settings.collection] %}

  <div class=" js-collection-section collection-section" id="{{collection.title | handleize }}">
    <h2 class="sr-only"> {{collection.title}} </h2>
    {% if block.settings.hide != true %}
      <div class=" collection-subhead" >
        <div class="sticky">
          <span class="bold pink-text">A note about our</span>
          <h2 class="serif">{{collection.title}}</h2>
        {% if collection.description != blank %}
          <div class="collection__description">{{collection.description}}</div>
        {% endif %}
        </div>
      </div>
    {% endif %}
    <div class="grid--products grid--full image-gutters--no-offset-top ">

      {% for product in collection.products %}
        {%- comment -%} Wholesale Gorilla: do not delete unless app is uninstalled{%- endcomment -%}
          {%- assign wsgTempProd = product -%}{%- assign wsgExclude = false -%}{%- if forloop.first == true -%}{%- assign wsgActive = false -%}{%- assign wsgActiveCustomer = false -%}
          {%- include 'wsg-status' wsgStatusAction: 'init' | strip -%}{%- endif -%}{%- if wsgActive -%}{%- include 'wsg-status' wsgStatusAction: 'col-item' | strip -%}{%- endif -%}{%- if wsgExclude -%} {%- continue -%} {%- endif -%}
        {%- comment -%} end WSG {%- endcomment -%}

        {% include 'wh_calculate_discount' with product, hide_method: 'skip' %}
        {% assign hover_class = section.settings.collection_style %}
        {% assign fit_image_class = 'grid__item--variable-height grid__image' %}
        {% include 'product-grid-item' %}

      {% endfor %}
      </div>
    </div>
    <div class="{% unless forloop.last %}wave-hr{% endunless %}"></div>
  {% endfor %}


  {% if paginate.pages > 1 %}
    {% if section.settings.collection_style == "grid__image--caption" %}
      <hr class="collection-pagination-rule">
    {% endif %}

    <div class="pagination">
      {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
    </div>
  {% endif %}

<style>
  .template-collection:not(#products) .collection-pages .section-header--image {
    background-position: {{ section.settings.image_alignment }};
  }

  .template-collection:not(#products) .collection-pages .section-header--image:after {
    background-color: {{ section.settings.color_overlay_color }};
    opacity: {{ section.settings.color_overlay_opacity }};
  }

  .template-collection:not(#products) .collection-pages .section-header--image h1,
  .template-collection:not(#products) .collection-pages .section-header--image .text-wrapper--center-cell {
    color: {{ section.settings.color_text }};
  }
</style>

{% schema %}
  {
    "name": "Collection pages",
    "class": "collection-pages",
    "settings": [
      {
        "type": "select",
        "id": "collection_style",
        "label": "Product title \/ price style",
        "options": [
          {
            "value": "grid__image--hover",
            "label": "Display on hover"
          },
          {
            "value": "grid__image--caption",
            "label": "Always display"
          }
        ],
        "default": "grid__image--caption"
      }
    ],
    "blocks": [
      {
        "type": "collection",
        "name": "Collection",
        "settings": [
          {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
          },
          {
            "type": "checkbox",
            "id": "hide",
            "label": "Hide collection title",
            "default": false
          },
          {
            "type": "select",
            "id": "collection_layout_style",
            "label": "Products per row",
            "options": [
              {
                "value": "twoByThree",
                "label": "Two"
              },
              {
                "value": "threeByThree",
                "label": "Three"
              },
              {
                "value": "fourByThree",
                "label": "Four"
              },
              {
                "value": "fiveByThree",
                "label": "Five"
              }
            ],
            "default": "threeByThree"
          }
        ]
      }
    ]
  }
{% endschema %}
