<!-- /templates/article.liquid -->
{% comment %}

  Comments will not appear right after they are submitted, either to be checked for spam
  or to await moderation. When a comment is submitted, the browser is redirected to a page
  that includes the new comment id in its URL.
    Example: http://shopname.myshopify.com/blogs/news/2022072-my-post?comment=3721372

  More information:
    - http://docs.shopify.com/themes/liquid-variables/comment

{% endcomment %}

{% assign number_of_comments = article.comments_count %}

{% comment %}
  If a comment was just submitted and it has no blank fields, we have an extra comment to count.
{% endcomment %}
{% if comment and comment.created_at %}
  {% assign number_of_comments = article.comments_count | plus: 1 %}
{% endif %}

<div class="grid--full">
  <div class="grid__item text-center blog-illustration">
      <div class="content-wrapper--horizontal section-header recipe-title">
        <div class="display-table-cell">
          <a href="{{blog.url}}">{{ blog.title | uppercase }}</a>
          <h1 class="wavy-underline">
            {{ article.title }}
          </h1>

          {% capture author %}
            <strong>{{ article.author }}</strong>
          {% endcapture %}

        </div>
      </div>
    </div>

    {% if article.image %}
    <div class="">
        {% assign image = article.image %}

        {% include "attribute-image-box-ratio" %}

        {% include "filter-rias-img-url" input: image %}
        {% assign image_url = output %}
        <div class="">
          <div class="image-placeholder-cover box-ratio article-feature-image" style="padding-bottom: 70vh">
            <img
              data-src="{{ image_url }}"
              data-ratio="{{ image.aspect_ratio }}"
              data-sizes="auto"
              alt="{{ image.alt | escape }}"
              data-parent-fit="cover"
              class="lazyload lazyload-fade">

            <noscript>
              <img src="{{ image | img_url: '1200x' }}" alt="{{ image.alt | escape }}">
            </noscript>
          </div>
        </div>
        {% if article.metafields.custom_fields["photo_credit"] != blank %}
          <div class="image-credit text-center">Photo by {{ article.metafields.custom_fields["photo_credit"] }}</div>
        {% endif %}
      </div>
    {% endif %}
  </div>



  <article class="recipe" itemscope itemtype="http://schema.org/Article">

    {% if article.metafields.custom_fields["serves"] != blank or article.metafields.custom_fields["recipe_introduction"] != blank or article.metafields.custom_fields["recipe_by"] != blank  %}
      <div class="article-introduction container grid">
        <div class="grid__item {% if article.metafields.custom_fields["recipe_introduction"] == blank %}center{% else %}large--one-third{% endif %}">
          <h2> {{article.title}} </h2>
          {% if article.metafields.custom_fields["recipe_by"] != blank %}
            <div class="recipe-by ">  Recipe By: {{ article.metafields.custom_fields["recipe_by"] }}
            </div>
          {% endif %}

          {% if article.metafields.custom_fields["serves"] != blank %}
            <p class="serves">Serves:
                {{ article.metafields.custom_fields["serves"] }}
            </p>
          {% endif %}
        </div>
        <div class="content grid__item large--two-thirds">
           {{ article.metafields.custom_fields["recipe_introduction"] }}
        </div>
      </div>
    {% endif %}

    <div  class="wave-hr"></div>

    <div class="rte container grid" itemprop="articleBody">
      <div class="grid__item large--one-third article-ingredients">
        <span class="cart-icon cart-svg">  <svg><use xlink:href="#icon-cart"></use></svg></span>
        <h4> Ingredients </h4>
        {{ article.content }}
        <div class="organic-background js-article-button" style="margin: 0px 0 40px 0;">
          <img  src="{{'rough-button-bg.png' | asset_img_url: 'master' }}" alt="">
          <button type="submit" id="AddToCart" name="add" class="btn rough-btn js addToCart js-article-submit">
          Add ingredients to cart
          </button>
      </div>
      </div>
      <div class="grid__item large--two-thirds methods rte">
        <h4> Method </h4>
         {{ article.metafields.custom_fields["methods"] }}
      </div>
    </div>

    {% comment %}
      Show off meta information like comments and tags.
    {% endcomment %}
    <ul class="inline-list">
      {% include 'article-tags' %}
    </ul>



  </article>
  <div class="article-recipe-footer">
    {%- include 'recipes-and-related' -%}
  </div>
</div>

{% schema %}
  {
    "name": "Article",
    "settings": [
      {
        "type": "checkbox",
        "id": "product_related",
        "label": "Show related products"
      },
      {
        "type": "checkbox",
        "id": "product_recipies",
        "label": "Show related recipies"
      }
    ]
  }
{% endschema %}
