<!-- /templates/blog.liquid -->
{% paginate blog.articles by 24 %}


<div class="grid--full gold blog-template">
  <div class="blog-background grid__item">
    <div class=" no-padding">
      <div class="journal-header">
        <div>
        <h1 class=" pink-text">{{ blog.title }}
          <span class="psuedo-breadcrumb"> |
          {% if blog.title == "Recipes" %}  <a href="/blogs/journal"> Blog </a>  {% elsif blog.title == "Blog" %} <a href="/blogs/recipes"> Recipes </a>  {% endif %}
          </span>
        </h1>
          {% if blog.metafields.custom_fields["blog_descripton"] != blank %}
         	 <p>  {{ blog.metafields.custom_fields["blog_descripton"] }} </p>
          {% endif %}
        </div>
        <form method="get" action="/search" class="blog-search">
          <button class="searchSubmit" type="submit" value="Search" class="submit" >
            <span class="icon search-svg" tabindex="-1">
              <svg><use xlink:href="#icon-search"></use></svg>
            </span>
          </button>
          <input class="searchBox field" placeholder="search the journal" type="text" name="q"{% if search.performed %} value="{{ search.terms | escape | downcase }}"{% endif %} />
          <input type="hidden" name="type" value="article" />
        </form>
      </div>
    </div>
  </div>
    <div class=" relative blog-grid grid__item grid--full large--one-whole image-gutters--{{ settings.image_gutter }}">
      <div class="flex relative posts-filter-wrapper">
        <div class="mobile-filter">
          {% include 'blog-filter' %}
        </div>
        {% comment %}
          Loop through each article in your blog. This is limited to what you set for pagination above.

          For more info on article liquid tags:
            - http://docs.shopify.com/themes/liquid-variables/article
        {% endcomment %}
        <div style="width: 100%;">
        {% for article in blog.articles %}
          {% assign remainder = forloop.index0 | modulo:3 %}

          <div class="grid__item large--one-third medium--one-half small--one-whole">
            {% if article.image %}
              {% include "filter-rias-img-url-with-height" input: article.image %}
              {% assign image_url = output %}


              <a href="{{ article.url }}">
                <div class="featured-blog__image-wrapper">
                  <div class="box-ratio--1-1 image-placeholder-cover">

                    	{% include 'blog-tags' %}

                    <img
                      data-src="{{ image_url }}"
                      data-ratio="{{ article.image.aspect_ratio }}"
                      data-sizes="auto"
                      data-parent-fit="cover"
                      class="lazyload lazyload-fade"
                      alt="{{ article.image.alt | escape }}">

                    <noscript>
                      <img src="{{ article.image | img_url: '800x' }}" />
                    </noscript>
                  </div>

                </div>
              </a>
            {% endif %}

            <div class="featured-blog__caption small--text-center text-wrapper">
                <!-- <p class="meta-info">{{ article.published_at | date: "%B %d, %Y"  }}</p> -->
                <a href="{{ article.url }}"><h4 class='featured-blog__title'>{{ article.title }}</h4></a>

                {% if section.settings.enable_blog_author %}
                  <p class="author">{{ 'blogs.article.author_by_html' | t: author : article.author }}</p>
                {% endif %}
                {%comment%}
                <span class="excerpt">
                    {{ article.excerpt_or_content }}
                </span>
                {%endcomment%}
                <p class='blog-info'><a href="{{ article.url }}">{{ 'blogs.article.read_more' | t }}</a></p>
                <ul class="inline-list blog-info">
                  {% if blog.comments_enabled? %}
                  <li>
                    <a href="{{ article.url }}#Comments">
                      {{ 'blogs.comments.comments_with_count' | t: count: article.comments_count }}
                    </a>
                  </li>
                  {% endif %}
                </ul>



            </div>
          </div>
          {% if remainder == 2 %}
          {% comment %}We want to manually break rows after 3.{% endcomment %}
          <div class="clearfix medium-down--hide"></div>
          {% endif %}
        {% endfor %}
      </div>
      </div>
      {% if paginate.pages > 1 %}
        <hr>
        <div class="pagination">
          {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
        </div>
      {% endif %}
    </div>
</div>
{% endpaginate %}

<script>

$('.mobile-filter .tag-nav__items').hide();

$('.mobile-filter .title').on('click', function(){
    $('.mobile-filter').toggleClass('open');
    $('.mobile-filter .tag-nav__items').slideToggle("slow");
});


</script>


{% schema %}
  {
    "name": "Blog",
    "settings": [
      {
        "type": "checkbox",
        "id": "enable_blog_author",
        "default": false,
        "label": "Show author"
      }
    ]
  }
{% endschema %}
