<div class=" orange all-blogs">
  <div>
    <div class="journal-header">
      <h1 class=" pink-text">{{ page.title }}
      </h1>
      <form method="get" action="/search" class="blog-search">
        <input class="searchBox field" placeholder="search the journal" type="text" name="q"{% if search.performed %} value="{{ search.terms | escape | downcase }}"{% endif %} />
        <input type="hidden" name="type" value="article" />
        <button class="searchSubmit" type="submit" value="Search" class="submit" >
          <span class="icon search-svg" tabindex="-1">
            <svg><use xlink:href="#icon-search"></use></svg>
          </span>
        </button>
      </form>
    </div>
    <div class="grid--full medium-down--hide">
      <div class="grid__item one-half">
        <a class="blog-sub-filter" href="/blogs/recipes">
          <h3>Recipes</h3>
          <span> view all</span>
        </a>
      </div>
      <div class="grid__item one-half">
        <a class="blog-sub-filter second" href="/blogs/journal">
          <h3>Blog</h3>
          <span> view all</span>
        </a>
      </div>
    </div>
    <div class=" custom-grid-full mobile large--hide">
      <div class="two-three">
        <div class="blog-sub-filter recipe-button active" onClick="showRecipes()">
          <h3>Recipes</h3>
        </div>
      </div>
      <div class="one-three">
        <div class="blog-sub-filter second blog-button"  onClick="showBlog()" >
          <h3>Blog</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="journal-articles combo-blog-layout">
    <div class="grid-item two-by" id="recipes">
      {% for article in blogs.recipes.articles limit: 10 %}
      {% assign remainder = forloop.index0 | modulo:3 %}

      <div class="article-wrap">
        {% if article.image %}
          {% include "filter-rias-img-url-with-height" input: article.image %}
          {% assign image_url = output %}

          <a href="{{ article.url }}">
            <div class="featured-blog__image-wrapper">
              <div class="box-ratio--1-1 image-placeholder-cover">
              {% include 'blog-tags' %}
                <img
                  data-src="{{ image_url }}"
                  data-ratio="{{ article.image.aspect_ratio }}"
                  data-sizes="auto"
                  data-parent-fit="cover"
                  class="lazyload lazyload-fade"
                  alt="{{ article.image.alt | escape }}">

                <noscript>
                  <img src="{{ article.image | img_url: '800x' }}" />
                </noscript>
              </div>

            </div>
          </a>
        {% endif %}

          <div class="featured-blog__caption small--text-center text-wrapper">
              <a href="{{ article.url }}"><h4 class='featured-blog__title'>{{ article.title }}</h4></a>
          </div>
        </div>
      {% endfor %}
        <a class="large--hide all-posts-link" href="/blogs/recipes"> View all recipes </a>
    </div>
    <div class="grid-item two-by" id="blog">
      {% for article in blogs.journal.articles limit: 20 %}
      {% assign remainder = forloop.index0 | modulo:3 %}

      <div class="article-wrap">
        {% if article.image %}
          {% include "filter-rias-img-url-with-height" input: article.image %}
          {% assign image_url = output %}

          <a href="{{ article.url }}">
            <div class="featured-blog__image-wrapper">
              <div class="box-ratio--1-1 image-placeholder-cover">
              {% include 'blog-tags' %}
                <img
                  data-src="{{ image_url }}"
                  data-ratio="{{ article.image.aspect_ratio }}"
                  data-sizes="auto"
                  data-parent-fit="cover"
                  class="lazyload lazyload-fade"
                  alt="{{ article.image.alt | escape }}">

                <noscript>
                  <img src="{{ article.image | img_url: '800x' }}" />
                </noscript>
              </div>

            </div>
          </a>
        {% endif %}

          <div class="featured-blog__caption small--text-center text-wrapper">
              <a href="{{ article.url }}"><h4 class='featured-blog__title'>{{ article.title }}</h4></a>
          </div>
        </div>
      {% endfor %}
        <a class="large--hide all-posts-link" href="/blogs/journal"> View all blog posts</a>
    </div>
  </div>

</div>

<script>
function myFunction(x) {
  if (x.matches) { // If media query matches
    $('#blog').hide()
  } else {
    $('#blog').show()
  }
}

var x = window.matchMedia("(max-width: 768px)")
myFunction(x)
x.addListener(myFunction)


var showRecipes = function(){
    $('.recipe-button').addClass('active')
    $('.blog-button').removeClass('active')
    $('#recipes').fadeIn()
    $('#blog').fadeOut()
}

var showBlog = function(){
    $('.blog-button').addClass('active')
    $('.recipe-button').removeClass('active')
    $('#recipes').fadeOut()
    $('#blog').fadeIn()
}
</script>
