{% assign featuredBlogs = 'recipes,journal' | split:',' %}

{% assign featuredArticles = false %}

{% for featuredBlog in featuredBlogs %}
	{% if blogs[featuredBlog].articles %}
		{% if featuredArticles %}
			{% assign featuredArticles = featuredArticles | concat:blogs[featuredBlog].articles %}
		{% else %}
			{% assign featuredArticles = blogs[featuredBlog].articles %}
		{% endif %}
	{% endif %}
{% endfor %}

{% if featuredArticles %}
	{% assign featuredArticles = featuredArticles | sort:'published_at' | reverse %}


  {% comment %}
    This template is also used for listing out articles of a specific tag.
    You can change layouts or styles by checking if current_tags is true.
  {% endcomment %}
  <div class="grid--full orange">
		<div class="grid journal-header">
      <div class="grid__item large--two-thirds">
        <div class="content-wrapper ">
              <h1 class=" pink-text">{{ page.title }}
              </h1>
        </div>
      </div>
			<div class="grid__item large--one-third content-wrapper">

			</div>
			<div class="grid__item large--one-whole custom-grid-full medium-down--hide">
				<div class="two-three">
					<a class="blog-sub-filter" href="/blogs/recipes">
						<h3>Recipes</h3>
						<span> view all</span>
					</a>
				</div>
				<div class="one-three">
					<a class="blog-sub-filter second" href="/blogs/journal">
						<h3>Blog</h3>
						<span> view all</span>
					</a>
				</div>
			</div>

			<div class="grid__item large--one-whole custom-grid-full mobile large--hide">
				<div class="two-three">
					<div class="blog-sub-filter" onClick="showRecipes()">
						<h3>Recipes</h3>
					</div>
				</div>
				<div class="one-three">
					<div class="blog-sub-filter second"  onClick="showBlog()" >
						<h3>Blog</h3>
					</div>
				</div>
			</div>
		</div>
      <div style="position: relative;" class="grid__item grid--full large--one-whole combo-blog-layout">

				<div class="grid__item large--two-thirds" id="recipes">
        	{% for article in blogs.recipes.articles limit: 20 %}
          {% assign remainder = forloop.index0 | modulo:3 %}

          <div class="grid__item large--one-half medium--one-half small--one-whole">
            {% if article.image %}
              {% include "filter-rias-img-url-with-height" input: article.image %}
              {% assign image_url = output %}

              <a href="{{ article.url }}">
                <div class="featured-blog__image-wrapper">
                  <div class="box-ratio--1-1 image-placeholder-cover">
                	{% include 'blog-tags' %}
                    <img
                      data-src="{{ image_url }}"
                      data-ratio="{{ article.image.aspect_ratio }}"
                      data-sizes="auto"
                      data-parent-fit="cover"
                      class="lazyload lazyload-fade"
                      alt="{{ article.image.alt | escape }}">

                    <noscript>
                      <img src="{{ article.image | img_url: '800x' }}" />
                    </noscript>
                  </div>

                </div>
              </a>
            {% endif %}

            <div class="featured-blog__caption small--text-center text-wrapper">
                <!-- <p class="meta-info">{{ article.published_at | date: "%B %d, %Y"  }}</p> -->
                <a href="{{ article.url }}"><h4 class='featured-blog__title'>{{ article.title }}</h4></a>
            </div>
          </div>

        {% endfor %}

			</div>

			<div class="grid__item large--one-third" id="blog">
				{% for article in blogs.journal.articles limit: 10 %}
				{% assign remainder = forloop.index0 | modulo:3 %}

				<div class="grid__item large--one-whole medium-down--one-half">
					{% if article.image %}
						{% include "filter-rias-img-url-with-height" input: article.image %}
						{% assign image_url = output %}

						<a href="{{ article.url }}">
							<div class="featured-blog__image-wrapper">
								<div class="box-ratio--1-1 image-placeholder-cover">
								{% include 'blog-tags' %}
									<img
										data-src="{{ image_url }}"
										data-ratio="{{ article.image.aspect_ratio }}"
										data-sizes="auto"
										data-parent-fit="cover"
										class="lazyload lazyload-fade"
										alt="{{ article.image.alt | escape }}">

									<noscript>
										<img src="{{ article.image | img_url: '800x' }}" />
									</noscript>
								</div>

							</div>
						</a>
					{% endif %}

					<div class="featured-blog__caption small--text-center text-wrapper">
							<a href="{{ article.url }}"><h4 class='featured-blog__title'>{{ article.title }}</h4></a>
					</div>
				</div>
			{% endfor %}

		</div>

      </div>
  </div>

{% endif %}

<script>
$('#blog').hide()
var showRecipes = function(){
    $('#recipes').fadeIn()
    $('#blog').fadeOut()
}

var showBlog = function(){
    $('#recipes').fadeOut()
    $('#blog').fadeIn()
}
</script>
