<div class="grid--full wrapper wholesale-form">
  <h1> Wholesale Signup </h1>

  {% form 'contact' %}

  {% if form.posted_successfully? %}
  <p class="note form-success">
    {{ 'contact.form.post_success' | t }}
  </p>
  {% endif %}

  {{ form.errors | default_errors }}

  <div>
    {% assign name_attr = 'contact.form.name' | t | handle %}
    <label >Name</label>
    <label for="ContactFormName" class="hidden-label">{{ 'contact.form.name' | t }}</label>
    <input required type="text" id="ContactFormName" class="input-full" name="contact[{{ name_attr }}]" placeholder="{{ 'contact.form.name' | t }}" autocapitalize="words" value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.name }}{% endif %}">
    <div>
      <label >Email</label>
      <label for="ContactFormEmail" class="hidden-label">{{ 'contact.form.email' | t }}</label>
      <input required type="email" id="ContactFormEmail" class="input-full" name="contact[email]" placeholder="{{ 'contact.form.email' | t }}" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}">
      <div>
        <label for="ContactCompany">Company</label>
        <input required type="text"
               name="contact[company]"
               id="contactCompany"
               class="input-full">
      </div>
      <div>
        <label >Type of Business</label>
        <label for="ContactFormType" class="hidden-label"> Type of Business </label>
        <select id="ContactFormType" name="contact[type]">
          <option> Food Service (Restaurant/Cafe)</option>
          <option>CPG Business</option>
          <option> Retail Store </option>
          <option> Other </option>
        </select>
      </div>

      <div>
        <label >Mailing Address (for us to ship samples to)</label>
        <label for="ContactFormAddress" class="hidden-label">Mailing Address (for us to ship samples to)</label>
        <input required type="text"
               name="contact[address]"
               id="ContactFormAddress"
               class="input-full">
    </div>

    <div>
      <label>How did you hear about us?</label>
      <label  for="ContactFormMessage" class="hidden-label">How did you hear about us?</label>
      <textarea rows="5" id="ContactFormMessage" class="input-full" name="contact[body]" placeholder="{{ 'contact.form.message' | t }}">{% if form.body %}{{ form.body }}{% endif %}</textarea>
    </div>

    <button type="submit" class="btn right">Sign Up!</button>

    {% endform %}
  </div>
